$xr-fonts-fucxed-caps-path: '~@xrmcr-digital/fonts-fucxed-caps/fonts' !default;

:root,
html {
    --font-fucxed-caps: "XR FUCXED CAPS";
}

@font-face {
    font-family: "XR FUCXED CAPS";
    src: url($xr-fonts-fucxed-caps-path + "/FUCXEDCAPSLatin-Regular.woff2") format("woff2"),
         url($xr-fonts-fucxed-caps-path + "/FUCXEDCAPSLatin-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "XR FUCXED CAPS";
    src: url($xr-fonts-fucxed-caps-path + "/FUCXEDCAPSLatin-Regular.woff2") format("woff2"),
         url($xr-fonts-fucxed-caps-path + "/FUCXEDCAPSLatin-Regular.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
