$xr-fonts-crimson-text-path: '~@xrmcr-digital/fonts-crimson-text/fonts' !default;

:root,
html {
    --font-crimson-text: "XR Crimson Text";
}

@font-face {
    font-family: "XR Crimson Text";
    src: url($xr-fonts-crimson-text-path + "/CrimsonText-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "XR Crimson Text";
    src: url($xr-fonts-crimson-text-path + "/CrimsonText-RegularItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "XR Crimson Text";
    src: url($xr-fonts-crimson-text-path + "/CrimsonText-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "XR Crimson Text";
    src: url($xr-fonts-crimson-text-path + "/CrimsonText-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "XR Crimson Text";
    src: url($xr-fonts-crimson-text-path + "/CrimsonText-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "XR Crimson Text";
    src: url($xr-fonts-crimson-text-path + "/CrimsonText-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

